.user{
    text-align: center;
    width: 1500px;
    height: 150px;
    margin: auto;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 50px;
    text-decoration: double underline;
    line-height: 50px;
}

.img-hover{
    
    display: inline-block;
    transition: 0.5s;
    border-radius: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.img-hover:hover{
    transform: scale(1.3);
}

.box{
     padding:10px;
     width:40%px;
     margin:auto;
     background-color:lightgray;
     border: 3px solid black;
    border-radius: 20px;
     display:inline-block;
      border:3px solid block;
      font family:saans-serif;
}


        .section {
            background-color: #f9f9a1;  
            padding: 15px;
            margin: 15px 0;
           border: 3px solid black;
           border-radius: 20px;
            border-radius: 5px;
        }





